#btn {
  -fx-transition-duration: 1s;
  -fx-background-color:   #7289da;
}
#btn:hover {
    -fx-background-color: #72a8da;
}
#btn2 {
   -fx-text-fill:   #7289DA;
  -fx-transition-duration: 1s;
  -fx-background-color: #2F3136;
}
#btn2:hover {
  -fx-text-fill:white;
}